# Force the default registry to the public npm registry
registry=https://registry.npmjs.org/

# Clear any potentially leftover private scoped registries
# If you have packages like @mycompany/package, this line makes sure
# npm looks for ALL packages on the public registry by default.
# You can add more of these for other scopes if needed.
@scope:registry=https://registry.npmjs.org/